<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
    <title>CVJ Bank</title>
</head>
<body>
	<header>
		<h1>CVJ Bank</h1>
			{% if user.is_staff %}
			<h2>Bank Staff Portal</h2>
			{% else %}
			{% if user.is_verified %}
			<h2>Customer Portal</h2>
			{% endif %}
			{% endif %}
			<nav>
				{% if user.is_staff %}
				<a href="{% url 'bank_app:frontpage_staff' %}">Home</a>
				<a href="{% url 'bank_app:staff_new_customer' %}">New Customer</a>
				<a href="{% url 'bank_app:staff_loan_applications' %}">Loan Applications</a>
				<a href="/account/two_factor/setup/">Set up two-factor authentication</a>
				<a href="{% url 'bank_app:logout' %}">Log out</a>
				{% else %}
				{% if user.is_verified %}
				<a href="{% url 'bank_app:frontpage_customer' %}">Home</a>
				<a href="{% url 'bank_app:transfer_options' %}">Make Transfer</a>
        		<a href="{% url 'bank_app:apply_loan' %}">Apply for Loan</a>
				<a href="{% url 'bank_app:logout' %}">Log out</a>
				{% endif %}
				{% endif %}
				
			</nav>
		
	</header>

	<main>
    	{% block main %}
    	{% endblock main %}
    </main>
	<footer>
        <p>&copy; 2022 CVJ Bank</p>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.5.0" integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" crossorigin="anonymous"></script>
    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
    </script>
</body>
</html>
