{% extends "base.html" %}

{% block main %}
<h1>Apply for loan</h1>
<p>Fill out the form to apply for a loan</p>
<form action="{% url 'bank_app:apply_loan' %}" method="post">
    {% csrf_token %}
    <fieldset>
    <label for="name">Name for loan</label>
    <input name="name" type="text" />
    
    <label for="amount">Amount</label>
    <input name="amount" type="number" />

    <label for="loan_desc">Description</label>
    <input name="loan_desc" type="text"/>
    
    <button>Submit</button>
    </fieldset>
</form>
{% endblock main %}