{% extends "base.html" %}

{% block main %}
<h1>Make external transfer</h1>
<form action="{% url 'bank_app:make_external_transfer' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form }}
    <button>Transfer</button>
    </fieldset>
</form>
<a href="../make_transfer">Make internal transfer</a>
{% endblock main %}