{% extends "base.html" %}

{% block main %}
<h1>Make internal transfer</h1>
<form action="{% url 'bank_app:make_transfer' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form }}
    <button>Transfer</button>
    </fieldset>
</form>
<a href="../make_external_transfer">Make external transfer</a>
{% endblock main %}