{% extends "base.html" %}

{% block main %}

<h1>Loan Applications</h1>
<table>
    <tr>
        <th>User</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Approve</th>
        <th>Deny</th>
    </tr>
    {% for application in loan_applications %}     
    <tr>
        <td>{{ application.user }}</td>
        <td>{{ application.name }}</td>
        <td>{{ application.amount }}</td>
        <td>{{ application.loan_desc }}</td>
        <td>
            <form class="button_form" action="{% url 'bank_app:staff_approve_loan' application.pk application.user %}" method="post">
                {% csrf_token %}
                <input name="amount" value="{{ application.amount }}" type="hidden">
                <input name="name" value="{{ application.name }}" type="hidden">
                <button>Approve</button>
            </form>
        </td>
        <td>
            <form class="button_form" action="{% url 'bank_app:staff_deny_loan' application.pk application.user %}" method="post">
                {% csrf_token %}
                <button>Deny</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock main %}