{% extends "base.html" %}

{% block main %}
<div id="transfer_options">
    <a href="../make_transfer"><button>Make internal transfer</button></a>
    <a href="../make_external_transfer"><button>Make external transfer</button></a> 
</div>
{% endblock main %}