* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --blue: #4178D9;
    --blue_trans_80: #4178D980;
    --blue_trans_30: #4178D910;
}

body {
    background-color: white;
    overscroll-behavior: none;
}

main {
    text-align: center;
    min-height: 90vh;
}

header {
    background-color: var(--blue_trans_30); 
    color: black;
    min-height: 60px;
    padding: 5px;
}
nav {
    margin-top: 10px;
}

nav a {
    color: black;
    font-size: 14px;
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: var(--blue);
}

main {
    width: 80vw;
    padding: 50px;
    margin: 0 auto;
}

form, .col-md-5 form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    padding: 20px 30px;
    border: 1px solid var(--blue_trans_80);
    background-color: white;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
}

label {
    margin-top: 10px;
    font-size: 15px;
}

input {
    height: 28px;
    font-size: 15px;
}

.d-none {
    visibility: hidden;
}

button {
    width: 200px;
    background-color: white;
    color: var(--blue);
    font-size: 15px;
    font-weight: bold;
    border: 1px solid var(--blue_trans_80);
    border-radius: 5%;
    cursor: pointer;
    margin: 10px auto;
    padding: 10px;
}

button:hover {
    background-color: var(--blue_trans_30);
}

.mb-3 {
    display: flex;
    flex-direction: column;
    border: none;
}

.mb-3 tbody tr {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.mb-3 tbody tr th {
    border: none;
    padding: unset;
    background-color: unset;
}

.mb-3 tbody tr td {
    border: none;
    padding: unset;
    background-color: unset;
}

.col-md-5 {
    border: none;
}

.col-md-5 form {
    padding: 20px;
}

.offset-md-3 p a {
    position: unset;
}

.btn {
    margin: 10px 0 0 0;
}

table {
    border: 1px solid var(--blue_trans_80);
    width: 600px;
    margin: 20px auto;
    text-align: left;
}

th, td {
    padding: 10px;
    background-color: var(--blue_trans_30);
}

th {
    background-color: var(--blue_trans_80);
}

#buttons_con {
    position: relative;
    height: 100px;
}

#back_btn, .btn-secondary {
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
}

#next_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
}

#canel_btn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.button_form {
    border: none;
    background-color: unset;
    padding: 0;
    width: unset;
    display: unset;
}

footer {
    background-color: var(--blue_trans_30);
    color: black;
    margin-top: 100vh - 40px;
    width: 100vw;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}