{% load i18n %}
<div id="buttons_con">
{% if cancel_url %}
  <a id="canel_btn" href="{{ cancel_url }}"
     class="float-right btn btn-link">{% trans "Cancel" %}</a>
{% endif %}
{% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit"
          value="{{ wizard.steps.prev }}"
          class="btn btn-secondary">{% trans "Back" %}</button>
{% else %}
  <button id="back_btn" disabled name="" type="button" class="btn">{% trans "Back" %}</button>
{% endif %}
<button id="next_btn" type="submit" class="btn btn-primary">{% trans "Next" %}</button>
</div>